.Contact{
    
    padding-top:70px ;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #222831;
     
  }
  
  .Contact-container{
    width:80%;
  
  }
   .heading{
      text-align: center;
      width: 100%;
      padding: 1rem;
   }
   
    
    
    .contactimage{
      width:100%;
    }
    
    /* Style inputs */
    input[type=text],  textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      margin-top: 6px;
      margin-bottom: 16px;
      color:black;
      resize: vertical;
    }
 
    .column {
      float: left;
      width: 50%;
      margin-top: 6px;
      padding: 20px;
    }
    
      .fa-phone-volume, .fa-location-dot, .fa-envelope {
    font-size: 25px;
    padding: 25px;
    }
    
    
    .column a{
      text-decoration: none;
    }
    .column .social-media{
      padding: 25px;
    }
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    
    
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 643px) {
      .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
  
      }
      .Contact.Content-container{
        width:100%;
      }
    }
  
