.Navbar {
  background-color: #222831;

  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
}
.logo {
  width: 80px;
}
a {
  text-decoration: none;
}
.fa-times {
  font-size: 2rem;
  color: #fff;
}
.fa-bars {
  font-size: 2rem;
  color: #fff;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}
.nav-item {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.nav-item:hover {
  color: #12f7ff;

  transition: all 0.2s ease-out;
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 960px) {
  .Navbar {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
   
    background-color: #232e3e;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-menu.active a {
    display: inline-block;
  }
  .nav-item {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar-item:hover {
    background-color: #7577fa;
  }
  .navbar-logo {
    position: absolute;
    top: 14px;
    left: 25px;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
