.Aboutme-section {
    display: flex;
  
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #222831;
    padding-top:70px;   
    /* 20px */
    overflow: hidden;
  }
  .Aboutme-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .Aboutme-row
  { padding-top:20px;
    display: flex;
    justify-content: space-between;
   
  }
  .Aboutme-column {
    width:45%;
  }
  .Aboutme-img{
    max-width:100%;
    height:auto;
  }
  
  p{
    text-align:justify ;
  }
  @media screen and (max-width: 825px){
    .Aboutme-row{
      flex-direction: column;
      gap: 20px;
    }
    .Aboutme-column{
      width:100%;
    }
  }
  